@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: none;
}

.d-flex {
  margin: 0;
  padding: 0;
  height: auto;
}

ul,
li {
  list-style: none;
}

.login_background {
  background-color: #ECF1F6;
  min-height: 100vh;
  max-height: auto;
  display: flex;
  flex-flow: column;
}

.login_input {
  background-color: #FFFFFF;
  width: 25%;
  padding: 30px;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
  font-weight: bold;
}

.image_login {
  padding-top: 30px;
  margin: 0 auto;
}

.image_login img {
  width: 150px;
  height: auto;
}

.text-center {
  font-weight: lighter;
}

/* サイドバー */
.sidebar {
  width: 200px;
  padding: 20px;
  min-height: 100vh !important;
  max-height: none;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  max-height: none;
}

.sidebar p a {
  color: #FFF;
  font-size: 0.8rem;
}

.icon_side {
  color: #FFF;
  margin-right: 5px;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
  margin: auto;
  width: 80%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
}

.my_profile {
  margin-bottom: 3rem;
  text-align: start;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.calendar_admin {
  background-color: #FFFFFF;
  padding: 30px;
}


.day_part {
  color: #494949;
  font-size: 12px;
}

.text_day_part {
  display: flex;
}

.day_part_count {
  margin-right: 20px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

.modal-container {
  display: none;
}

.modal-body {
  background-color: #FFF;
  border-radius: 10px;
}

.btn-cancel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.btn-input-cancel {
  display: flex;
  padding: 10px;
}

.active {
  display: block;
  /*モーダル本体の指定 + モーダル外側の背景の指定*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 50%);
  padding: 40px 20px;
  overflow: auto;
  transition: .3s;
  box-sizing: border-box;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.post_title {
  color: #000000;
  font-weight: bold;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

.post_status {
  display: flex;
  justify-content: space-between;

}

.comment_icon_area {
  display: flex;
}

/* 掲示板　カテゴリー */

.main_category_name {
  width: 100%;
}

.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #E38EAB;
  color: #FFF;
  width: 45%;
  padding: 5px;
}

.category_btn:nth-child(2) {
  background: #EBBC5D;
}

.sub_category_btn {
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #04A9D2;
  color: #FFF;
}

.post_btn a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 1rem;
}

.post_btn input {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.post_btn {
  display: block;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  border: none;
  background: #04A9D2;
  text-align: center;
  color: #fff;
}

/*いいねした投稿、自分の投稿*/
.posts_btn {
  display: flex;
  justify-content: space-between;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

. {}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  min-height: 100vh;
  max-height: auto;
  padding: 10px;
  border-radius: 5px;
}

.category_color {
  background-color: #EBEBEB;
  color: #B0B0B0;
}

.sub_category_color {
  color: black;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
  background: #FFF;
}

.name_full {
  font-weight: bold;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #FFF;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.search_area {
  padding: 15px;
}

.free_word {
  background-color: #E0E5E9;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-style: none;
}

.search_setting {
  display: flex;
  justify-content: center;
}

input {
  text-decoration: none;
  font-size: 1rem;
}

.border {
  padding: 10px;
}

.search_form {
  display: inline-block;
}
